* {
    box-sizing: border-box;
}

html, body {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #eee;
}

.block {
    position: absolute;
    overflow: hidden;
}

.block:hover {
    outline: 1px solid rgba(0,0,0,.5);
}

body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

aside {
    width: 275px;
    background-color: rgb(24, 22, 32);
    flex-shrink: 0;

    overflow-y: auto;
    overflow-x: hidden;

    position: relative;
    transition: all .5s;

    padding: 40px 20px 20px 20px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

aside input {
    width: 100%;
}

aside button {
    padding: 5px;
    width: 100%;
    margin-bottom: 5px;
}



aside button.hide_left,
aside button.hide_right {
    position: absolute;
    /* right: -20px; */
    top: 0;
    width: 30px;
    height: 30px;
    z-index: 100;
    background-color: #fff;
    padding: 0;
    border: none;
    color: #f00;

}

aside button.hide_left {
    right: 0;
}

aside button.hide_right {
    left: 0;
}


aside.hidden {
    width: 30px;
    overflow: hidden;
}

main {
    width: 100%;
    position: relative;
    overflow: scroll;
    /* padding: 50px; */
}

/* main::after {
    content: "";
    display: block;
    height: 30px;
    width: 100%;
} */

.canvas {
    background-color: #fff;
    position: relative;
    /* border: 1px solid rgba(0,0,0,.5); */
}

.canvas::before {
    content: "";
    z-index: 10000;
    width: 100%;
    height: 100%;
    position: absolute;
    border: 1px solid rgba(0,0,0,.5);
    left: 0;
    top: 0;
    pointer-events: none;
}

.viewbox_wrap {
    transform-origin: 0 0;
    padding: 80px;
    width: fit-content;
    height: fit-content;
    /* margin: 30px auto; */
    position: relative;
}



/* Load spinner */

.load__wrap {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    top:50%;left:50%;transform:translate(-50%, -50%);
    z-index: 99999;
    background-color: rgba(255,255,255,1);
    opacity: 1;
    transition: all 0.25s ease-in-out;
}

.load__wrap.hidden {
    opacity: 0;
    width: 0;
    height: 0;
}


.load{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);
    /*change these sizes to fit into your project*/
    width:100px;
    height:100px;
  }
  .load hr{border:0;margin:0;width:40%;height:40%;position:absolute;border-radius:50%;animation:spin 2s ease infinite}
  
  .load :first-child{background:#19A68C;animation-delay:-1.5s}
  .load :nth-child(2){background:#F63D3A;animation-delay:-1s}
  .load :nth-child(3){background:#FDA543;animation-delay:-0.5s}
  .load :last-child{background:#193B48}
  
  @keyframes spin{
    0%,100%{transform:translate(0)}
    25%{transform:translate(110%)}
    50%{transform:translate(110%, 110%)}
    75%{transform:translate(0, 110%)}
  }