section._block__scroll_banner_right,
section._block__scroll_banner_left {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    position: relative;
  }

  section._block__scroll_banner_right p {
    display: flex;
    flex-shrink: 0;
    /* height: 50px; */
    align-items: center;
    animation: slide-right 30s linear infinite;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    padding: 0;
    margin: 0;
    /* width: 100%; */
  }
  section._block__scroll_banner_left p {
    display: flex;
    flex-shrink: 0;
    /* height: 50px; */
    align-items: center;
    animation: slide-left 30s linear infinite;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    padding: 0;
    margin: 0;
    /* width: 100%; */
  }

  @keyframes slide-left {
    from {
        left: 0;
        transform: translate(-100%, -50%);
    }
    to {
       left: 100%;
       transform: translate(0, -50%);
    }
  }
  @keyframes slide-right {
    from {
        right: 0;
        transform: translate(100%, -50%);
    }
    to {
       right: 100%;
       transform: translate(0, -50%);
    }
  }